Source: mogilefs-server
Section: perl
Priority: optional
Maintainer: Jonathan Steinert <deb@hachi.kuiki.net>
Build-Depends-Indep: mogilefsd, mogstored
Standards-Version: 3.6.1.0

Package: mogstored
Architecture: all
Depends: ${perl:Depends}, debhelper (>= 4.1.40), libperlbal-perl, libio-aio-perl, debconf (>= 1.2.0)
Suggests: mogilefs-utils
Description: storage node daemon for MogileFS
 Mogstored is a storage node daemon for MogileFS, the open-source
 application-level distributed filesystem from Danga Interactive.

Package: mogilefsd
Architecture: all
Depends: ${perl:Depends}, debhelper (>= 4.1.40), libdbd-mysql-perl, libdbi-perl, debconf (>= 1.2.0), libnet-netmask-perl, libwww-perl
Suggests: mogilefs-utils
Description: scalable distributed filesystem from Danga Interactive
 MogileFS is an open-source, application-level distributed filesystem. It
 creates a host-nuetral, filesystem-agnostic method of distributing files
 that has many advantages over NFS and single-machine raid.  This set
 of utilities is very scalable and can handle Livejournal.com's load, for
 which it was designed.
