#!/bin/sh

PACKAGE=mogstored

set -e
. /usr/share/debconf/confmodule

db_input medium $PACKAGE/docroot || true
db_go

RUNASUSER=""

while [ "$RUNASUSER" = "" ]
  do

	db_input medium $PACKAGE/runasuser || true
	db_go

	db_get $PACKAGE/runasuser
	RUNASUSER="$RET"

	if [ "$RUNASUSER" = "root" ]
		then

		db_reset $PACKAGE/runasuser
		db_fset $PACKAGE/runasuser seen false
	fi

  done
